.navbar-brand {
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#bottom-header {
    height: 70px;

}

.bg-grey {
    background-color: #dddddd;
    /* mettere min-height:*/
    height: 100%;
}

/* AGGIUNTA COLORI ICONE */