.navbar-brand {
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#bottom-header {
    height: 70px;

}

.bg-grey {
    background-color: #dddddd;
    /* mettere min-height:*/
    min-height: calc(100vh - 124px);
}

/* AGGIUNTA COLORI ICONE */

.animal {
    color: blue;
}

.vegetable {
    color: rgb(255, 187, 0);
}

.user {
    color: purple;
}

.company {
    color: red;
}