.navbar-brand {
    padding-left: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#bottom-header {
    height: 70px;

}

.bg-grey {
    background-color: #dddddd;
    /* calcolo tutta l'altezza viewport - l'altezza dell'header top/bottom:*/
    height: calc(100vh - 122px);
}